.jumbotron {
	text-align: center;
	font: 4vw arial;
	color: rgb(204,153,0);
}

.container {
	font: 1vw arial;
}

h2{
	text-align: center;
	font: 3vw arial;
	padding-bottom: 1vw;
}

.match {
	fill: rgb(204,153,0);
	stroke-width: 1;
	stroke: rgb(0,0,0);
	}
.btn-primary {
	text-align: center;
}
