<html>
	<head>
	<script>
const coordinates = [[0,0,0],[10,0,1],[110,0,0],[110,100,0],[10,190,1],[0,100,0],[10,100,1],[55,55,0],[10,90,1],[10,110,1]];
var selectedElement = 0;
var currentX = 0;
var currentY = 0;
var currentMatrix = 0;

function moveElement(evt) {
	dx = evt.clientX - currentX;
	dy = evt.clientY - currentY;
	currentMatrix[4] = dx;
	currentMatrix[5] = dy;
	newMatrix = "matrix(" + currentMatrix.join(' ') + ")";
	selectedElement.setAttributeNS(null, "transform", newMatrix);
}

function deselectElement(evt) {
	if(selectedElement != 0) {
		var index = -1;
		var smallest = 100;
		for(var i=0;i<coordinates.length;i++) {
			if(Math.abs(coordinates[i][0]+(coordinates[i][2] ? 50:5)-evt.clientX)+Math.abs(coordinates[i][1]+(coordinates[i][2] ? 5:50)-evt.clientY+150)<smallest) { 
				console.log("x"+Math.abs(coordinates[i][0]+(coordinates[i][2] ? 5:50)-evt.clientX) + " ### " + Math.abs(coordinates[i][1]+(coordinates[i][2] ? 50:5)-evt.clientY+150));
				index = i;
				smallest = Math.abs(coordinates[i][0]+(coordinates[i][2] ? 50:5)-evt.clientX)+Math.abs(coordinates[i][1]+(coordinates[i][2] ? 5:50)-evt.clientY+150);
				selectedElement.setAttribute("transform", "matrix(1 0 0 1 0 0)");*/
			} else { console.log(evt.clientX + " ### " + evt.clientY + " ### " + 
			Math.abs(coordinates[i][0]+(coordinates[i][2] ? 5:50)-evt.clientX) + " ### " + Math.abs(coordinates[i][1]+(coordinates[i][2] ? 50:5)-evt.clientY+150)); 
		}
			if(index>=0) {
				selectedElement.setAttribute("x", coordinates[index][0]);
				selectedElement.setAttribute("y", coordinates[index][1]);
				selectedElement.setAttribute("class", "match");
				selectedElement.setAttribute("width", coordinates[index][2] ? 100 : 10);
				selectedElement.setAttribute("height", coordinates[index][2] ? 10 : 100);
			}
				selectedElement.setAttribute("transform", "matrix(1 0 0 1 0 0)");
		}
		selectedElement.removeAttributeNS(null, "onmousemove");
		selectedElement.removeAttributeNS(null, "onmouseout");
		selectedElement.removeAttributeNS(null, "onmouseup");
		selectedElement = 0;
	}
}

function selectElement(evt) {
	selectedElement = evt.target;
	currentX = evt.clientX;
	currentY = evt.clientY;
	currentMatrix = selectedElement.getAttributeNS(null, "transform").slice(7,-1).split(' ');
	for(var i=0;i<currentMatrix.length;i++){
		currentMatrix[i] = parseFloat(currentMatrix[i]);
	}
	selectedElement.setAttributeNS(null, "onmousemove", "moveElement(evt)");
	//selectedElement.setAttributeNS(null, "onmouseout", "deselectElement(evt)");
	selectedElement.setAttributeNS(null, "onmouseup", "deselectElement(evt)");
}

function drawMatches(equation) {
	var SIGNS = {'=': [0,0,0,0,0,0,0,0,1,1],
			     '-': [0,0,0,0,0,0,1,0,0,0],
			     '+': [0,0,0,0,0,0,1,1,0,0],
			     '0': [1,1,1,1,1,1,0,0,0,0],
			     '1': [0,0,1,1,0,0,0,0,0,0],
			     '2': [0,1,1,0,1,1,1,0,0,0],
			     '3': [0,1,1,1,1,0,1,0,0,0],
			     '4': [1,0,1,1,0,0,1,0,0,0],
			     '5': [1,1,0,1,1,0,1,0,0,0],
			     '6': [1,1,0,1,1,1,1,0,0,0],
			     '7': [0,1,1,1,0,0,0,0,0,0],
			     '8': [1,1,1,1,1,1,1,0,0,0],
			     '9': [1,1,1,1,1,0,1,0,0,0]};
				 
	for(var i=0;i<equation.length;i++) {
		for(var j=0;j<10;j++) {
		  if(SIGNS[equation[i]][j]) {
		    var temp = document.createElementNS("http://www.w3.org/2000/svg", 'rect');
		    temp.setAttribute("class", "match")
		    temp.setAttribute("width", coordinates[j][2] ? 100 : 10);
		    temp.setAttribute("height", coordinates[j][2] ? 10 : 100);
		    temp.setAttribute("x", coordinates[j][0]+i*120);
		    temp.setAttribute("y", coordinates[j][1]);
		    temp.setAttribute("onmousedown", "selectElement(evt)");
		    temp.setAttribute("transform", "matrix(1 0 0 1 0 0)");
		    document.getElementById('field').appendChild(temp);
		  }
		  }
		}
		
		}
	</script>
	<style>
	.match {
	fill: rgb(204,153,0);
	stroke-width: 1;
	stroke: rgb(0,0,0);
	}
	</style>
	</head>
	<body>
		<p> Equation to solve {{equation}} </p>
		<form action="/home", method = "post">
			Your solution<br>
			<input type="text" name="solution" value={{equation}}>
			<br><br>
			<input type="submit" value="Submit">
		</form>
		<svg id="field" width="1200" height="450"></svg>
		<script>
drawMatches('{{equation}}');
		</script>
	</body>
</html>
