<html>
	<head>
	<script>
var selectedElement = 0;
var currentX = 0;
var currentY = 0;
var currentMatrix = 0;

function moveElement(evt) {
	dx = evt.clientX - currentX;
	dy = evt.clientY - currentY;
	currentMatrix[4] += dx;
	currentMatrix[5] += dy;
	newMatrix = "matrix(" + currentMatrix.join(' ') + ")";
	
	selectedElement.setAttributeNS(null, "transform", newMatrix);
	currentX = evt.clientX;
	currentY = evt.clientY;
}

function deselectElement(evt) {
	if(selectedElement != 0) {
		selectedElement.removeAttributeNS(null, "onmousemove");
		selectedElement.removeAttributeNS(null, "onmouseout");
		selectedElement.removeAttributeNS(null, "onmouseup");
		selectedElement = 0;
	}
}


function selectElement(evt) {
	selectedElement = evt.target;
	currentX = evt.clientX;
	currentY = evt.clientY;
	currentMatrix = selectedElement.getAttributeNS(null, "transform").slice(7,-1).split(' ');

	for(var i=0;i<currentMatrix.length;i++){
		currentMatrix[i] = parseFloat(currentMatrix[i]);
	}

	selectedElement.setAttributeNS(null, "onmousemove", "moveElement(evt)");
	selectedElement.setAttributeNS(null, "onmouseout", "deselectElement(evt)");
	selectedElement.setAttributeNS(null, "onmouseup", "deselectElement(evt)");
}
	</script>
	</head>
	<body>
		<p> Equation to solve {{equation}} </p>
		<form action="/home", method = "post">
			Your solution<br>
			<input type="text" name="solution" value={{equation}}>
			<br><br>
			<input type="submit" value="Submit">
		</form>
		<svg width="400" height="200">
			{% for i in range(5) %}
			<rect id="match" onmousedown="selectElement(evt)" width="10" height="100" x="0" y="10" transform="matrix(1 0 0 1 0 0)" style="fill:rgb(204,153,0);stroke-width:1;stroke:rgb(0,0,0)" />
			{% endfor %}
		</svg>	  
	</body>
</html>
