<html>
	<head>
	<script>
var selectedElement = 0;
var currentX = 0;
var currentY = 0;
var currentMatrix = 0;

function moveElement(evt) {
	dx = evt.clientX - currentX;
	dy = evt.clientY - currentY;
	currentMatrix[4] += dx;
	currentMatrix[5] += dy;
	newMatrix = "matrix(" + currentMatrix.join(' ') + ")";
	
	selectedElement.setAttributeNS(null, "transform", newMatrix);
	currentX = evt.clientX;
	currentY = evt.clientY;
}

function deselectElement(evt) {
	if(selectedElement != 0) {
		selectedElement.removeAttributeNS(null, "onmousemove");
		selectedElement.removeAttributeNS(null, "onmouseout");
		selectedElement.removeAttributeNS(null, "onmouseup");
		selectedElement = 0;
	}
}


function selectElement(evt) {
	selectedElement = evt.target;
	currentX = evt.clientX;
	currentY = evt.clientY;
	currentMatrix = selectedElement.getAttributeNS(null, "transform").slice(7,-1).split(' ');

	for(var i=0;i<currentMatrix.length;i++){
		currentMatrix[i] = parseFloat(currentMatrix[i]);
	}

	selectedElement.setAttributeNS(null, "onmousemove", "moveElement(evt)");
	selectedElement.setAttributeNS(null, "onmouseout", "deselectElement(evt)");
	selectedElement.setAttributeNS(null, "onmouseup", "deselectElement(evt)");
}

function drawMatches(equation) {
	const coordinates = [[0,0,0],[10,0,1],[110,0,0],[110,100,0],[10,200,1],[10,100,0],[0,100,1],[50,50,0],[40,0,1],[60,0,1]];
	var SIGNS = new Hash('=', [0,0,0,0,0,0,0,0,1,1],
			     '-', [0,0,0,0,0,0,1,0,0,0],
			     '+', [0,0,0,0,0,0,1,1,0,0],
			     '1', [0,0,1,1,0,0,0,0,0,0],
			     '2', [0,1,1,0,1,1,1,0,0,0],
			     '3', [0,1,1,1,1,0,1,0,0,0],
			     '4', [1,0,1,1,0,0,1,0,0,0],
			     '5', [1,1,0,1,1,0,1,0,0,0],
			     '6', [1,1,0,1,1,1,1,0,0,0],
			     '7', [0,1,1,1,0,0,0,0,0,0],
			     '8', [1,1,1,1,1,1,1,0,0,0],
			     '9', [1,1,1,1,1,0,1,0,0,0]);
	for(var i=0;i<=equation.length;i++) {
		equation[i]
	</script>
	</head>
	<body>
		<p> Equation to solve {{equation}} </p>
		<form action="/home", method = "post">
			Your solution<br>
			<input type="text" name="solution" value={{equation}}>
			<br><br>
			<input type="submit" value="Submit">
		</form>
		<svg width="400" height="200">
			{% for i in range(5) %}
			console.log("kukulka"};
			console.log("coordinates[{{ i }}][0]");
			<rect onmousedown="selectElement(evt)" width="10" height="100" x="coordinates[{{ i }}][0]" y="coordinates[{{ i }}][1]" transform="matrix(1 0 0 1 0 0)" style="fill:rgb(204,153,0);stroke-width:1;stroke:rgb(0,0,0)" />
			{% endfor %}
		</svg>	  
	</body>
</html>
